body{
  background-color: #1e2f46;
}
.bg-dark {
  background-color: #23305c !important;
  box-shadow: 0 10px 18px rgba(15, 12, 43, 0.38);
}
#chart-box-layout{
  height:100%;
}
.infographic_graphic_section{
  height:100%;
  width:100%;
  display: flex;
  flex-direction: column;
}
.infographic_introdction_section{

}
.chart-container{
  position: relative;
  height:100%;
  width: 100vw;
  max-width: 100%;
  max-height:100%;
  margin: auto;
}
.controler button img{
  opacity: .85;
}
.controler button.bg-dark{
  color:#f1f1f1;
}
.btn-dark {
  color: #fff;
  background-color: #1e2f46;
  border-color: #3d4751;
}
.btn-dark:hover {
  color: #fff;
  background-color: #23272b;
  border-color: #c3cccc;
}
.btn-dark:hover img,.btn-dark.active img {
  opacity: 1;
}

.btn-dark:not(:disabled):not(.disabled):active, .btn-dark:not(:disabled):not(.disabled).active, .show > .btn-dark.dropdown-toggle {
  color: #fff;
  background-color: #161e24;
  border-color: #fff;
}
#equip_table_box{
  color:#fff;
  width:500px;
  min-height:100px;
  top:10px;
  right:0px;
  background: radial-gradient(circle at 93.34% 83.42%, #5976b78f, transparent 100%),radial-gradient(circle at 9.25% 41.17%, #153155ba, transparent 100%),radial-gradient(circle at 50% 50%, #26141db8, #13020bb3 100%);
  border-radius: 4px;
  box-shadow: 0px 0px 2px rgb(160, 255, 246);
}
.equip-table{
  width:100%;
  border:1px solid #fff;
  table-layout: fixed;
}
.equip-table tr td{
  padding:4px;
  border: 1px solid #9affd966;
}
#equip_table_box .nav-tabs {
  border-bottom: none;
}
#equip_table_box .nav-item:nth-child(1),#equip_table_box .nav-item:nth-child(2){
  width:40%;
}
#equip_table_box .nav-link{
  padding:4px 10px;
}
#equip_table_box .nav-item a{
  color:#fff;
}
#equip_table_box .nav-tabs .nav-link.active,#equip_table_box .nav-tabs .nav-item.show .nav-link{
color:black;
}
#equip_table_box .nav-item.close-item a.nav-link{
  font-size: 22px;
  padding: 0;
  height:100%;
  width: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
}
